@if (Request.IsAuthenticated) {
    <div class="pull-right">
        <p class="navbar-text">
            Hello, @Html.ActionLink(User.Identity.Name, "Index", "Profile")! <a href="#modalLogout" data-toggle="modal">Log off</a>
        </p>
    </div>
} else {
    Html.RenderAction("SimpleLogin", "Account");
}
