
<div class="hero-unit">
<div>
    <h1>
    Nice of you to drop by.
    </h1>
    <p>
    Join the conversation now.
    </p>
</div>
<a class="btn btn-primary btn-large" href="@Url.Action("Register", "Account")">
    Sign up »
</a>
</div>
<div class="row-fluid">
    <div class="span4">
        <div>
        <h2>
            This
        </h2>
        <p>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
            ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
            sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed
            odio dui.
        </p>
        </div>
    </div>
    <div class="span4">
        <div>
        <h2>
            That
        </h2>
        <p>
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus
            ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo
            sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed
            odio dui.
        </p>
        </div>
    </div>
    <div class="span4">
        <div>
        <h2>
            The other.
        </h2>
        <div>
            Not much of it really.
        </div>
        </div>
    </div>
</div>